@use 'sass:color';
@use '@/styles/App.scss' as *;

.badge {
  display: inline-flex;
  align-items: center;
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 2px 4px;
  font-size: 11px;
  font-weight: 600;
  transition: all 0.2s;
  color: $white;
  gap: 4px;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.1);
  }

  &--default {
    border: transparent;
    background: $primary-color;
    color: $white;

    &:hover {
      background: $primary-color;
    }
  }

  &--matched {
    border: transparent;
    background: $success-color;
    color: $white;

    &:hover {
      background:color.adjust($success-color, $lightness: -10%);
      
    }
  }

  &--unmatched {
    border: transparent;
    background: $warning-color;
    color: $white;
  }


}
